<h1>Log in!</h1>
<p> Please enter your Name or E-mail and your Password below to login:</p> 
<%=form_tag sessions_path do %>
    <div>Name: <%= text_field_tag "user[name]" %></div>
    <p>Or,</p>
    <div>Email: <%= text_field_tag "user[email]" %></div><br>
    <div>Password: <%= text_field_tag "user[password]" %></div><br>
    <%=submit_tag "Log In"%>
<%end%>