<h1>Log in!</h1>

<% if flash.any?%>
    <% flash.each do |type, msg| %>
    <div class = "error_message">
        <%= msg %>
    </div>
    <% end %>
<% end %>
<%=form_tag sessions_path do %>
<li>Name: <%= text_field_tag "user[name]" %></li>
<p>Or,</p>
<li>Email: <%= text_field_tag "user[email]" %></li>
<li>Password: <%= text_field_tag "user[password]" %></li>
<li><%=submit_tag "Log In"%>
<%end%>