<h2><%= @user.name%><h2>
<h2> <%= @task.name %> in <%= @punch_list.name %> for <%= @project.name %> </h2>
<h3>Description of this Task:</h3>
<p><em><%= @task.description %></em></p>

<h3>Materials:</h3>

<div>Materials Total for this Task: <%=@task.materials_total%></div>
    <ul>
    <% if @task.materials.any? %>
        <% @task.materials.each do |m| %>
            <li> <%= link_to "#{m.name}", material_path(m) %></li><br>
            <ul>
                <li><%= m.description %></li><br>
                <li><%= m.price_return %></li><br>
                <li><%= m.date %>
            </ul>
        <% end %>
    <% else %>
        <p> You do not have any materials for this task. <p>
    <% end %>
</ul>
<h4>Add some new Materials to your Task:</h4>
<ul>
    <%= form_tag materials_path do %>
        <%= render partial: "/materials/form" %>
        <%= submit_tag "Add Materials to this Task" %>
    <% end %>
</ul>


<h3>Workers Assigned to this Task:</h3>
<ul>
    <% if @task.workers.any? %>
        <%@task.workers.each do |w|%>
        <li><%= link_to "#{w.name}", w %></li>
        <ul>
            <%= button_to "Remove Worker", action = "/tasks/#{@task.id}/remove_worker", params: {worker: w}, data: {confirm: "Are YOU sure?"} %><br><br>
        </ul>
        <%end%>
    <% else %>
        <li><em>There are no Workers Assigned to this task.</em></li>
    <% end %>
    <p><em>Add a worker to this Task:</em></p>
    <ul>
        <%= render partial: "/tasks/add_workers_to_task" %>
    </ul>
</ul>

<%= link_to "Edit this Task", edit_task_path %><br><br>

<%= link_to "#{@punch_list.name}", punch_list_path(@punch_list) %>