<h2><%= @user.name%><h2>
<h2> <%= @task.name %> in <%= @punch_list.name %> for <%= @project.name %> </h2>
<p><%= @task.description %></p>
<h3>Materials:</h3>
<ul>
    <% if @task.materials.any? %>
        <% @task.materials.each do |m| %>
            <li> <%= link_to "#{m.name}", material_path(m) %></li><br>
            <ul>
                <li><%= m.description %></li><br>
                <li><%= m.price %></li><br><br>
                <li><%= m.date %>
            </ul>
        <% end %>
    <% else %>
        <p> You do not have any materials for this task. <p>
    <% end %>
    <h4> <%= render partial: "/materials/form" %></h4>
</ul>

<h3>Workers:</h3>

<%= link_to "#{@punch_list.name}", punch_list_path(@punch_list) %>