<h1> <%= @user.name %></h1>

<% if @user.errors.any? %>
    <div> DANEGER RILL WOBBINSONSON! DANGER!<div>
        <% @user.errors.full_messages.each do |m| %>
            <li><em><%= m  %></em></li>
        <% end %>
<% end %>
<%= form_for @user do %>
    <%= render partial: "/users/form" %>
    <%= submit_tag "Update User" %><br>
<% end %>

<%= link_to "Delete User", @user, :method => :delete, :data => {confirm: "Wait... Are you 100% sure? You will lose EVERYTHING. And it is unretrievable!"} %>