<h1><%=@user.name%>'s Note Pad<h1><br>

<h3> Which project are we working on?</h3>

<% if @user.projects.any? %>
    <% @user.projects.each do |p| %>
        <div> <%= link_to p.name, project_path(p) %></div>
    <% end %>
    <div>Or, Create a New Project</div>
<%else%>
    <div> Create a New Project</div>
<% end %>

<%= render partial: '/projects/form' %><br>

<h3>Workers:</h3>
<ul> 
    <% if @user.workers.any? %>
        <% @user.workers.each do |w| %>
            <li> <%= link_to "#{w.name}", w %> </li><br>
        <% end %>
    <% else %>
        <li>You do not have any workers </li>
    <% end %>
</ul>

    <%= render partial: '/workers/form' %>
