<h1><%=@user.name%>'s Note Pad<h1><br>

<h3> Which project are we working on?</h3>

<% if @user.projects.any? %>
    <% @user.projects.each do |p| %>
        <div> <%= link_to p.name, project_path(p) %></div><br>
    <% end %>
    <div>Or, Create a New Project</div>
<%else%>
    <div> You don't have any Projects, Would you like to create one?</div>
<% end %>
<%= form_tag projects_path do %>
    <ul><%= render partial: '/projects/form' %><br></ul>
<% end %>

<h3>Workers:</h3>
<ul> 
    <% if @user.workers.any? %>
        <% @user.workers.each do |w| %>
            <li> <%= link_to "#{w.name}", w %> </li><br>
        <% end %>
    <% else %>
        <li>You do not have any workers </li>
    <% end %>
    
</ul>
<div><em>Create a New Worker:<em><div>
    <ul><%= render partial: '/workers/form' %></ul>

    
