<h1><%= @project.name %></h1>
<div><strong>Description: </strong> <%=@project.description%></div><br>
<div><strong>Materials total for this project:</strong> <%=@project.materials_total%></div><br>
<div><strong>Punch Lists for this project:</Strong></div>
<ul>
    <% if @project.punch_lists.any? %>
        <% @project.punch_lists.each do |list|%>
            <li><%= link_to "#{list.name}", punch_list_path(list)%></li>
            <ul>
                <li>Workers assigned to tasks in this list: <%= list.workers_list%> </li>
                <li>Total Materials Cost: <%= list.materials_total %>
            </ul>
        <% end %>    
    <% else %>
<p><strong><em>You dont have any Punch Lists for this Project yet!</em></strong></p>
    <% end %>
    <li><em>Create a new Punch List:</em></li><br>
        <% if @punch_list %>
            <% @punch_list.errors.full_messages.each do |msg| %>
                <div class="error_messages"> 
                    <%= msg %>
                </div>
            <% end %>
        <% end %>
        <%= form_tag punch_lists_path do %>
            <div><%= render partial: '/punch_lists/form' %></div>
        <% end %>   
</ul>

<%= link_to "Edit #{@project.name}", edit_user_project_path(@project.user, @project.id) %><br>