<h2><%=@user.name%><h2>
<h2> <%= @punch_list.name %> for <%= @project.name %> </h2>
<div>Materials Total for this Punch_list: <%=@punch_list.materials_total%></div>

<ul>
    <%if @punch_list.tasks.any? %>
        <% @punch_list.tasks.each do |t| %>
            <li><%= link_to "#{t.name}", task_path(t) %></li>
            <ul>
                <li> Total Task Materials So Far: <%= t.materials_total%> </li>
                <li> Workers assigned to this task: <% t.workers_list %> <li>
            </ul>
        <% end %>
    <% else %>
        <p> Hey, It looks like this list is empty! </p>
    <% end %>
    
    <li><%= render partial: "/tasks/form" %></li>
</ul>

<div>Workers assinged to this Punch_list</div>

<ul>
    <% if @punch_list.workers.any? %>
        <% @workers.each do |w| %>
        <li><%= link_to w.name, w %></li>
        <% end %>
    <% else %>
        <p> There aren't any workers assigned to this task. <p>
    <% end %>
</ul>

<%= link_to "#{@project.name}", project_path(@project) %>