<h2><%=@user.name%><h2>
<h2> <%= @punch_list.name %> for <%= @project.name %> </h2>
<div>Materials Total for this Punch_list: <%=@punch_list.materials_total%></div>

<ul>
    <%if @punch_list.tasks.any? %>
        <% @punch_list.tasks.each do |t| %>
            <li><%= link_to "#{t.name}", task_path(t) %></li>
            <ul>
                <li> Total Task Materials So Far: <%= t.materials_total%> </li>
                <li> Workers assigned to this task: <%= t.workers_list %> <li>
            </ul>
        <% end %>
    <% else %>
        <p> Hey, It looks like this list is empty! </p>
    <% end %>
    
    <li><em>Build a new Task:</li>
    <% if @task %>
        <% @task.errors.full_messages.each do |msg| %>
            <div class="error_messages"> 
                <%= msg %>
            </div>
        <% end %>
    <% end %>
    <ul>
        <%= render partial: "/tasks/form" %></em>
    </ul>
</ul>

<div>Workers assinged to this Punch_list</div>

<ul>
    <% if @punch_list.workers.any? %>
        <% @workers.each do |w| %>
        <li><%= link_to w.name, w %></li>
        <% end %>
    <% else %>
        <p> There aren't any workers assigned to this task. <p>
    <% end %>
</ul>
<%= link_to "Edit #{@punch_list.name}", edit_punch_list_path(@punch_list) %><br>
<%= link_to "#{@project.name}", project_path(@project) %>