<h2><%=@user.name%><h2>
<h2> <%= @punch_list.name %> for <%= @project.name %> </h2>
<div>Materials Total for this Punch_list: <%=@punch_list.materials_total%></div>

<ul>
    <%if @punch_list.tasks.any? %>
        <% @punch_list.tasks.each do |t| %>
            <li><%= link_to "#{t.name}", task_path(t) %></li>
        <% end %>
    <% else %>
        <p> Hey, It looks like this list is empty! </p>
    <% end %>
    
    <li><%= render partial: "/tasks/form" %></li>
</ul>

<%= link_to "#{@project.name}", project_path(@project) %>