<h2> <%= @worker.name %> </h2>

<h3> Tasks assigned to this worker: </h3>
<ul>
    <% if @worker.tasks.any? %>
        <% @worker.tasks.each do |t| %>
        <li> <%= link_to "#{t.name}", t %></li>
        <ul>
            <%= button_to "Remove Task", action = "/workers/#{@worker.id}/remove_task", params: {task: t}, data: { confirm: "Are you sure?" } %>
        </ul>
        <% end %>
    <% else %>
        <li> This worker does't have any work! </li>
    <% end %>
    <em>Add a Task to this Worker:</em>
    <ul>
        <%= render partial: '/workers/add_tasks_to_worker'%><br><br>
    </ul>
</ul>

<%= link_to "Edit #{@worker.name}", edit_worker_path%><br><br>
<%= link_to "Home Page", user_path(@user) %>