<h2><%= @material.name %></h2>
<ul> 
    <li>Belongs to: <%= @material.task %></li>
    <li><%= @material.description %></li>
    <li><%= @material.price %></li>
    <li><%= @material.date %></li>
</ul>

