<h2><%= @user.name%><h2>
<h3><%= @material.name %></h3>
<ul> 
    <li>Belongs to: <%= @task.name %> in <%= @punch_list.name %> for <%= @project.name %></li>
    <li>Description: <%= @material.description %></li>
    <li>Price: <%= @material.price_return %></li>
    <li>Date: <%= @material.date %></li>
</ul>

<%= link_to "Edit these materials", edit_material_path %><br>

<%=link_to "#{@task.name}", @task %>