<!DOCTYPE html>
<html>
  <head>
    <title>ContractorsNotePad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="contractor_note_pad">
      <% if flash.any?%>
        <% flash.each do |type, msg| %>
        <div class = "error_message">
            <%= msg %>
        </div>
        <% end %>
      <% end %>
      <%= yield %>
    </section>
  </body>
  <footer><br>
    <% if @user %>
      <%= link_to "Home Page", user_path(@user.id)%><br>
      <%= link_to "Log Out", session_path(:user), :method => :delete, :data=> {:confirm => "Are you sure you want to log out?"} %>
    <% end %><br>

    <onalleverytime><em>Made with Love</em><onalleverytime>
  </footer>

</html>
